body
{
	font-family: 'Lato', sans-serif;
	color:#676858;
	font-weight: 300;
}

.text-muted
{
	color: #676858;
}

.text-thin
{
	font-weight: 100;
}

.logo {
  width: 80px;
  margin-top: 15px;
}

.img-responsive
{
	max-width: 100%;
}

/* Footer
=======================*/

footer {
    text-align: center;
   
    color: #2d3c49;
    border-top: 0.1em solid #2d3c49;
    margin-top: 2em;
    padding: 1em;
}