/* Project: Portfolio, Udacity fullstack program 2017 
===================================================*/
/* General
===================*/

body {
    font-family: 'Lato', sans-serif;
    color: #676858;
    font-weight: 300;
}
.text-muted {
    color: #676858;
}
.logo {
    width: 5.5em;
    margin-top: 1em;
}
.img-responsive {
    max-width: 100%;
}

/* Footer
=======================*/

footer {
    text-align: center;
    color: #2d3c49;
    border-top: 0.1em solid #2d3c49;
    margin-top: 2em;
    padding: 1em;
}
